// abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/placeholders";

//base
@import "base/reset";
@import "base/base";

//components
@import "components/buttons";

//layout

//pages

//themes

.container {
  display: flex;
flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 15px;
  margin: 15px;
  flex-basis: 30%;
}

.one {
  background-color: red;

}

.second {
  background-color: green;
}

.third {
  background-color: blue;
}